---
---
<div class="hamburger" id="hamburgerMenu"><span></span><span></span><span></span></div>

<nav class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <h2>Navigation</h2>
  </div>
  <ul class="sidebar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/mates">Hostel Mates</a></li>
    <li><a href="/chaos">Chaos</a></li>
    <li><a href="/candids">Zulu Candids</a></li>
    <li><a href="/committees">Committees</a></li>
  </ul>
</nav>

<script src="../scripts/sidebar.js"></script>
